@font-face {
    font-family: 'Inter-ExtraLight';
    src: url('./fonts/Inter-ExtraLight.ttf');
}
@font-face {
    font-family: 'Inter-Light';
    src: url('./fonts/Inter-Light.ttf');
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('./fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('./fonts/Inter-Bold.ttf');
}

* {
    margin: 0;
}